tone-analyser-node-red.json
[{"id":"5f7cc4e7.49c95c","type":"inject","z":"762891f8.8b227","name":"String","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":191,"y":143,"wires":[["a9150fad.4fe9c"]]},{"id":"7ee50642.e77978","type":"debug","z":"762891f8.8b227","name":"","active":true,"console":"false","complete":"response","x":844.5000610351562,"y":208.93333435058594,"wires":[]},{"id":"a9150fad.4fe9c","type":"function","z":"762891f8.8b227","name":"Prepare Request","func":"var data = \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it!\";\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":398.5,"y":144.933349609375,"wires":[["f7890359.7a106"]]},{"id":"d8bd0cd9.541d6","type":"http request","z":"762891f8.8b227","name":"Get Buffer => Binary","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","tls":"","x":434,"y":271,"wires":[["f7890359.7a106"]]},{"id":"7db10d50.d03644","type":"inject","z":"762891f8.8b227","name":"Buffer Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":204,"y":271,"wires":[["d8bd0cd9.541d6"]]},{"id":"f7890359.7a106","type":"watson-tone-analyzer-v3","z":"762891f8.8b227","name":"","tones":"all","sentences":"true","contentType":"false","x":652,"y":177,"wires":[["7ee50642.e77978"]]},{"id":"9e1b704e.5f0ae","type":"http in","z":"762891f8.8b227","name":"","url":"/text","method":"get","swaggerDoc":"","x":88,"y":357,"wires":[["4e7dd536.2ab93c"]]},{"id":"4e7dd536.2ab93c","type":"switch","z":"762891f8.8b227","name":"Check text param","property":"payload.text","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":189,"y":455,"wires":[["28aa80d1.f681e"],["3dbc5e11.85d972"]]},{"id":"28aa80d1.f681e","type":"template","z":"762891f8.8b227","name":"Get text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <h1>Text App</h1>\n    <h2>Write Some Text to Analyze</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <input type=\"text\" name=\"text\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>","x":447,"y":343,"wires":[["14582fdf.2fc9f"]]},{"id":"6d382553.6899ec","type":"template","z":"762891f8.8b227","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"    <h1>Tony Analyzer</h1>\n    <table border='1'>\n        <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#response}}\n        {{#document_tone}}\n        {{#tone_categories}}\n        {{#tones}}\n          <tr><td><b>{{tone_name}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/tones}}\n        {{/tone_categories}}\n        {{/document_tone}}\n        {{/response}}\n    </table>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <input type=\"submit\" value=\"Try again\"/>\n    </form>","x":663,"y":458,"wires":[["14582fdf.2fc9f"]]},{"id":"14582fdf.2fc9f","type":"http response","z":"762891f8.8b227","name":"","x":721,"y":384,"wires":[]},{"id":"3dbc5e11.85d972","type":"function","z":"762891f8.8b227","name":"","func":"msg.payload = msg.payload.text;\n\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":546,"wires":[["201bd59.66a722a"]]},{"id":"201bd59.66a722a","type":"watson-tone-analyzer-v3","z":"762891f8.8b227","name":"","tones":"all","sentences":"true","contentType":"false","x":498,"y":567,"wires":[["6d382553.6899ec"]]}]
